body {
    color: #444;
    background-color: hsl(53, 22%, 96%);
}

table tr:nth-child(even) {
    background-color: hsl(42, 25%, 91%);
}
table tr:nth-child(odd) {
    background-color: hsl(42, 25%, 93%);
}
